Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manager-team, @dashboard-team, @tooling-team

chore(compliance): tabletop supabase drill and runbook verification (2025-10-11)
  docs/compliance/evidence/tabletop_supabase_2025-10-11.md
  docs/runbooks/incident_response_supabase.md
  feedback/compliance.md
Owners: @manager-team

chore(compliance): tabletop supabase drill and runbook verification (2025-10-11)
  docs/compliance/evidence/tabletop_supabase_2025-10-11.md
  docs/runbooks/incident_response_supabase.md
Owners: @manager-team

chore(compliance): AI logging retention audit and doc updates (2025-10-11)
  artifacts/compliance/ai_retention_audit_2025-10-11.json
  artifacts/compliance/ai_retention_audit_2025-10-11.md
  docs/compliance/data_inventory.md
  docs/compliance/retention_automation_plan.md
  feedback/compliance.md
Owners: @manager-team

chore(compliance): AI logging retention audit and doc updates (2025-10-11)
  artifacts/compliance/ai_retention_audit_2025-10-11.json
  artifacts/compliance/ai_retention_audit_2025-10-11.md
  docs/compliance/data_inventory.md
  docs/compliance/retention_automation_plan.md
Owners: @manager-team

docs(feedback): add QA stack compliance audit notes (2025-10-11)
  feedback/compliance.md
Owners: none

chore(compliance): add prepared PR body (2025-10-11)
  artifacts/compliance/pr_body_2025-10-11.md
Owners: none

chore(compliance): add prepared PR body (2025-10-11)
  artifacts/compliance/pr_body_2025-10-11.md
  feedback/compliance.md
Owners: none

docs(report): posture/risk/evidence summary appended to feedback (2025-10-11)
  artifacts/compliance/posture_summary_2025-10-11.md
Owners: none

docs(report): posture/risk/evidence summary appended to feedback (2025-10-11)
  artifacts/compliance/posture_summary_2025-10-11.md
  feedback/compliance.md
  feedback/manager.md
Owners: @manager-team

designer: overnight tasks completed - accessibility walkthrough prep and engineering handoff bundle
  feedback/designer.md
  feedback/product.md
Owners: none

designer: overnight tasks completed - accessibility walkthrough prep and engineering handoff bundle
  feedback/designer.md
  feedback/product.md
Owners: none

product: Complete overnight execution plan tasks
  reports/overnight/2025-10-11/deploy-147-anchor.json
  reports/overnight/2025-10-11/product-morning-brief.md
Owners: none

product: Complete overnight execution plan tasks
  reports/overnight/2025-10-11/deploy-147-anchor.json
  reports/overnight/2025-10-11/product-morning-brief.md
Owners: none

designer: team coordination outreach and Monday stack audit preparation completed
  feedback/designer.md
Owners: none

designer: team coordination outreach and Monday stack audit preparation completed
  feedback/designer.md
Owners: none

Support: Complete operational excellence implementation
  feedback/support.md
  packages/memory/logs/ops/2025-10-11-template-review.md
Owners: @tooling-team

Support: Complete operational excellence implementation
  feedback/support.md
  packages/memory/logs/ops/2025-10-11-template-review.md
Owners: @tooling-team

compliance: Complete 2025-10-12 sprint tasks and evidence package
  feedback/compliance.md
  feedback/manager.md
Owners: @manager-team

compliance: Final status update and repo cleanup complete
  feedback/manager.md
Owners: @manager-team

designer: final status update to manager - sprint complete, all deliverables ready for team coordination
  artifacts/monitoring/supabase-sync-summary-latest.json
  docs/integrations/integration_readiness_dashboard.md
  docs/marketing/distribution_kit.md
  docs/marketing/launch_comms_packet.md
  docs/policies/agentfeedbackprocess.md
  feedback/chatwoot.md
  feedback/data.md
  feedback/deployment.md
  feedback/enablement.md
  feedback/engineer.md
  feedback/integrations.md
  feedback/localization.md
  feedback/marketing.md
  scripts/ai/llama-workflow/package.json
  supabase/migrations/20251011_chatwoot_gold_replies.sql
Owners: @manager-team, @tooling-team

designer: final status update to manager - sprint complete, all deliverables ready for team coordination
  artifacts/monitoring/supabase-sync-summary-latest.json
  docs/integrations/integration_readiness_dashboard.md
  docs/marketing/distribution_kit.md
  docs/marketing/launch_comms_packet.md
  docs/policies/agentfeedbackprocess.md
  feedback/data.md
  feedback/deployment.md
  feedback/enablement.md
  feedback/engineer.md
  feedback/integrations.md
  feedback/localization.md
  feedback/marketing.md
  scripts/ai/llama-workflow/package.json
  supabase/migrations/20251011_chatwoot_gold_replies.sql
Owners: @manager-team, @tooling-team

Enablement: Complete 4-module Loom training production
  feedback/manager.md
Owners: @manager-team

marketing: Complete Shopify CLI dev rehearsal planning with screenshot specs
  feedback/marketing.md
Owners: none

marketing: Complete Shopify CLI dev rehearsal planning with screenshot specs
  feedback/marketing.md
Owners: none

reliability: complete overnight execution plan 2025-10-11
  docs/directions/overnight/2025-10-11.md
  docs/runbooks/agent_metrics_ingestion.md
  docs/specs/agent_interaction_metrics_design.md
  feedback/marketing.md
  reports/overnight/2025-10-11/blockers.md
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/standalone-sitemap-test.mjs
  supabase/migrations/20251011070600_agent_metrics.sql
Owners: @manager-team, @tooling-team

reliability: complete overnight execution plan 2025-10-11
  docs/directions/overnight/2025-10-11.md
  docs/runbooks/agent_metrics_ingestion.md
  docs/specs/agent_interaction_metrics_design.md
  feedback/compliance.md
  feedback/marketing.md
  reports/overnight/2025-10-11/blockers.md
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/standalone-sitemap-test.mjs
  supabase/migrations/20251011070600_agent_metrics.sql
Owners: @manager-team, @tooling-team

marketing: Document stakeholder request and immediate execution readiness
  feedback/marketing.md
Owners: none

marketing: Document stakeholder request and immediate execution readiness
  feedback/marketing.md
Owners: none

docs: add llamaindex import fixes update to manager feedback
  feedback/manager.md
Owners: @manager-team

marketing: Add current readiness status and blocker summary
  feedback/marketing.md
Owners: none

marketing: Add current readiness status and blocker summary
  feedback/marketing.md
Owners: none

Support Agent: Complete overnight tasks with comprehensive evidence
  feedback/manager.md
Owners: @manager-team

docs(feedback): Update manager feedback with overnight task completion [2025-10-11 07:37 UTC]
  feedback/manager.md
Owners: @manager-team

docs(feedback): Update manager feedback with data task completion [2025-10-11 07:38 UTC]
  feedback/manager.md
Owners: @manager-team

chatwoot: migration succeeded, update feedback with next steps
  feedback/support.md
Owners: none

chatwoot: migration succeeded, update feedback with next steps
  feedback/chatwoot.md
  feedback/support.md
Owners: none

reliability: finalize overnight execution and repo cleanup
  feedback/deployment.md
  feedback/engineer.md
  feedback/qa.md
  reports/overnight/2025-10-11/blockers.md
Owners: none

reliability: finalize overnight execution and repo cleanup
  feedback/deployment.md
  feedback/engineer.md
  reports/overnight/2025-10-11/blockers.md
Owners: none

status: Update manager with marketing readiness and stakeholder request
  feedback/manager.md
Owners: @manager-team

security: Add sensitive values audit findings and remediation plan
  feedback/manager.md
Owners: @manager-team

.github/CODEOWNERS:

# Canon (manager only)
docs/directions/**          @manager-team
docs/**                     @manager-team
feedback/manager.md         @manager-team

# App areas (customize teams as you grow)
app/**                      @dashboard-team
packages/**                 @tooling-team

# CI/infra
.github/**                  @tooling-team
scripts/**                  @tooling-team
