Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jgorzitza, @engineer, @qa, @data

.github/CODEOWNERS:

# CODEOWNERS - Protect Critical Files from Deletion/Modification
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ===================================================================
# CRITICAL PROCESS DOCUMENTS (Manager/CEO only)
# ===================================================================

# Core mission and direction
/docs/NORTH_STAR.md                                     @Jgorzitza
/README.md                                               @Jgorzitza
/docs/git_protocol.md                                    @Jgorzitza
/docs/directions/README.md                              @Jgorzitza

# Agent startup/shutdown procedures
/docs/runbooks/agent_startup_checklist.md               @Jgorzitza
/docs/runbooks/agent_shutdown_checklist.md              @Jgorzitza
/docs/runbooks/agent_launch_checklist.md                @Jgorzitza

# Manager procedures
/docs/runbooks/manager_startup_checklist.md             @Jgorzitza
/docs/runbooks/manager_shutdown_checklist.md            @Jgorzitza
/docs/runbooks/manager_priority_matrix.md               @Jgorzitza
/docs/directions/manager.md                             @Jgorzitza
/docs/directions/manager_standup_template.md            @Jgorzitza

# Process controls
/docs/policies/feedback_controls.md                     @Jgorzitza
/docs/policies/agentfeedbackprocess.md                  @Jgorzitza
/docs/ops/credential_index.md                           @Jgorzitza

# Agent direction files (Manager only can edit)
/docs/directions/*.md                                    @Jgorzitza

# ===================================================================
# EXCEPTIONS (Can be modified by specific agents)
# ===================================================================

# Agents can edit their OWN feedback file only
/feedback/engineer.md                                    @engineer
/feedback/qa.md                                          @qa
/feedback/data.md                                        @data
# (etc - one line per agent if needed, or just enforce via process)

# ===================================================================
# NOTES
# ===================================================================
# 
# This protects critical documents from:
# - Accidental deletion
# - Unauthorized edits
# - Agent confusion (editing wrong files)
#
# To modify protected files:
# - Create PR
# - Tag @Jgorzitza for approval
# - Requires CEO/Manager approval to merge
#
# ===================================================================

feat(deploy): Add production and staging rollback scripts
  scripts/deploy/rollback-production.sh
  scripts/deploy/rollback-staging.sh
  scripts/deploy/verify-environment-parity.sh
Owners: none

ci(deploy): Add automated rollback deployment workflow
  .github/workflows/rollback-deployment.yml
Owners: none

chore(feedback): Additional agent updates
  feedback/deployment.md
Owners: none

feat(scripts): Add deployment verification and dev tools
  scripts/deploy/harden-production.sh
  scripts/deploy/verify-environment-parity.sh
  scripts/dev/setup-local-env.sh
Owners: none

feat(deploy,design): Add deployment notifications and localization audit
  .github/workflows/deployment-notifications.yml
  docs/design/error_message_localization_audit.md
Owners: none

fix(llamaindex,feedback): MCP query handler fix and localization update
  apps/llamaindex-mcp-server/src/handlers/query.ts
  feedback/localization.md
Owners: none

feat(final): Add remaining development and deployment tools
  apps/llamaindex-mcp-server/src/handlers/query.ts
  docs/dev/DEVELOPMENT_WORKFLOW.md
  docs/enablement/support_operator_guide.md
  scripts/chatwoot/generate-reports.ts
  scripts/deploy/one-command-deploy.sh
Owners: none

feat(final-batch): Last set of updates - MCP server, feedback, smoke test
  apps/llamaindex-mcp-server/src/server.ts
  scripts/deploy/automated-smoke-test.sh
  scripts/deploy/one-command-deploy.sh
Owners: none

fix(llamaindex-mcp): Accept both 'query' and 'q' parameters in query_support tool
  apps/llamaindex-mcp-server/dist/handlers/query.d.ts
  apps/llamaindex-mcp-server/dist/handlers/query.d.ts.map
  apps/llamaindex-mcp-server/dist/handlers/query.js
  apps/llamaindex-mcp-server/dist/handlers/query.js.map
  apps/llamaindex-mcp-server/dist/server.js
  apps/llamaindex-mcp-server/dist/server.js.map
Owners: none

feat(complete): Final synchronization - all remaining files
  app/utils/debug.server.ts
  docs/product/success_metrics_dashboard_spec_hot_rodan.md
  scripts/deploy/deploy-staging.sh
Owners: none

feat(debug): Add debug snapshot API endpoint and deployment feedback
  app/routes/api.debug.report.tsx
  app/routes/api.debug.snapshot.tsx
  docs/design/help_text_localization_audit.md
  feedback/deployment.md
Owners: none

fix(docker): Allow llama-workflow scripts in Docker build context
  .dockerignore
Owners: none

fix(llama-workflow): Add missing @llamaindex/openai dependency
  scripts/ai/llama-workflow/package.json
Owners: none

engineer-helper: Complete LlamaIndex MCP fix (95% - code complete, needs env vars)
  feedback/engineer-helper.md
Owners: none

engineer-helper: Complete ALL manager-assigned tasks (100%)
  .github/workflows/infrastructure-monitoring.yml
  docs/chatwoot/advanced-features-plan.md
  docs/design/email_template_localization_audit.md
  docs/design/hot_rod_an_voice_tone_guide.md
  docs/dev/ERROR_HANDLING_STANDARDS.md
  docs/enablement/manager_operator_guide.md
  docs/enablement/operator_troubleshooting_comprehensive.md
  docs/enablement/sales_operator_guide.md
  docs/product/agent_performance_dashboard_design.md
  docs/runbooks/infrastructure_operations.md
  feedback/deployment.md
  feedback/enablement.md
  feedback/engineer-helper.md
  feedback/engineer.md
  feedback/git-cleanup.md
  feedback/localization.md
  feedback/product.md
  scripts/chatwoot/test-integrations.ts
  scripts/disaster-recovery/backup-infrastructure.sh
  scripts/disaster-recovery/restore-infrastructure.sh
  scripts/monitoring/configure-alerts.sh
  scripts/monitoring/cost-optimization-report.sh
  scripts/monitoring/fly-metrics-dashboard.sh
Owners: @engineer

deployment: Complete all assigned tasks - 100% done ✅
  docs/enablement/video_production_plan.md
  feedback/engineer-helper.md
  feedback/localization.md
  scripts/disaster-recovery/test-failover.sh
Owners: none

manager: Comprehensive agent status review and updated assignments
  docs/directions/ACTIVE_AGENT_ASSIGNMENTS_2025-10-14T02-55.md
  docs/directions/AGENT_STATUS_MATRIX_2025-10-14T02-54.md
Owners: @Jgorzitza

manager: Assign email-to-agent training pipeline (CEO directive)
  feedback/ai.md
  feedback/data.md
  feedback/deployment.md
  feedback/enablement.md
  feedback/engineer.md
  feedback/integrations.md
Owners: @data, @engineer

engineer-helper: Status check - all tasks complete, available for new assignments
  feedback/engineer-helper.md
Owners: none

deployment: Standard health check complete - all services healthy ✅
  feedback/deployment.md
Owners: none

feat(git-cleanup): Complete P1-P2 tasks + security fixes
  .gitleaksignore
  docs/chatwoot/e2e-test-documentation.md
  docs/qa/picker_payment_test_report.md
Owners: none

engineer-helper: Final execution review - all tasks 100% complete
  feedback/engineer-helper.md
Owners: none

CRITICAL: Correct manager process violations per CEO feedback
  docs/directions/marketing.md
  docs/runbooks/manager_startup_checklist.md
  feedback/marketing.md
Owners: @Jgorzitza

deployment: Agent shutdown - save work state before reset
  feedback/deployment.md
Owners: none

chore(git-cleanup): Agent shutdown - all tasks complete
  feedback/git-cleanup.md
Owners: none

fix: Remove ambiguous 'Report to manager' instructions from direction files
  docs/directions/data.md
  docs/directions/engineer-helper.md
  docs/directions/engineer.md
  docs/directions/qa-helper.md
  docs/directions/qa.md
  docs/directions/reliability.md
Owners: @Jgorzitza

fix: Disable Shopify cloudflare tunneling
  .shopify-dev.config.json
Owners: none

fix: Remove exposed Supabase service key from engineer feedback
  docs/runbooks/agent_shutdown_checklist.md
  docs/runbooks/manager_shutdown_checklist.md
  feedback/ai.md
  feedback/deployment.md
  feedback/designer.md
  feedback/enablement.md
  feedback/engineer.md
  feedback/integrations.md
  feedback/marketing.md
  feedback/product.md
  feedback/support.md
  packages/memory/logs/build/indexes/2025-10-14T0728/index/doc_store.json
  packages/memory/logs/build/indexes/2025-10-14T0728/index/index_store.json
  packages/memory/logs/build/indexes/2025-10-14T0728/manifest.json
  packages/memory/logs/build/indexes/latest
  packages/memory/logs/build/indexes/prev
  packages/memory/logs/build/ingestion/curated/2025-10-14T0728/curated_errors.log
  packages/memory/logs/build/ingestion/curated/2025-10-14T0728/curated_manifest.json
  packages/memory/logs/build/ingestion/curated/2025-10-14T0728/curated_sample.json
  packages/memory/logs/build/ingestion/supabase/2025-10-14T0728/decision_manifest.json
  packages/memory/logs/build/ingestion/supabase/2025-10-14T0728/telemetry_manifest.json
  packages/memory/logs/build/ingestion/web/2025-10-14T0728/manifest.json
  packages/memory/logs/build/ingestion/web/2025-10-14T0728/sample.json
Owners: @Jgorzitza, @engineer

docs: Add comprehensive Cursor rules for HotDash development
  .cursor/rules/04-mcp-first-development.mdc
  .cursor/rules/05-ui-components.mdc
  .cursor/rules/06-shopify-integration.mdc
  .cursor/rules/07-database-supabase.mdc
  .cursor/rules/08-agent-coordination.mdc
  .cursor/rules/09-react-router-7.mdc
  .cursor/rules/10-deployment.mdc
  .cursor/rules/11-git-workflow.mdc
  .cursor/rules/12-agent-sdk.mdc
  .cursor/rules/13-copy-centralization.mdc
  .cursor/rules/14-compliance-security.mdc
  .cursor/rules/15-testing-qa.mdc
  .cursor/rules/16-documentation-standards.mdc
  .cursor/rules/17-known-issues.mdc
  .cursor/rules/agent-protocol.mdc
  .cursor/rules/agent-workflow.mdc
  .cursor/rules/ai-integration.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/database-supabase.mdc
  .cursor/rules/deployment.mdc
  .cursor/rules/documentation-standards.mdc
  .cursor/rules/file-organization.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/hotdash-architecture.mdc
  .cursor/rules/llamaindex-mcp.mdc
  .cursor/rules/mcp-integration.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/quick-reference.mdc
  .cursor/rules/security-compliance.mdc
  .cursor/rules/security-secrets.mdc
  .cursor/rules/shopify-integration.mdc
  .cursor/rules/support-documentation.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/troubleshooting.mdc
  .cursor/rules/typescript-react-router.mdc
  .cursor/rules/typescript-react.mdc
Owners: none

cursor: Add comprehensive Cursor rules for HotDash development
  .cursor/rules/README.md
  .cursor/rules/mcp-tools.mdc
Owners: none

feat(cursor-rules): Add comprehensive Cursor rules for HotDash development
  .cursor/rules/README.md
  .cursorrules
  docs/CURSOR_RULES_IMPLEMENTATION.md
  docs/CURSOR_USER_RULES_TEMPLATE.md
Owners: none

chore(feedback): Update localization agent feedback
  feedback/localization.md
Owners: none

feat(deployment): add automated health checks, smoke tests, and rollback on failure
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  feedback/deployment.md
  scripts/deploy/automated-smoke-test.sh
Owners: none

support: add approval queue quick start, pilot selection criteria, Agent SDK playbook, and operator feedback system (drafts)
  docs/support/agent_sdk_support_playbook.md
  docs/support/approval_queue_quick_start.md
  docs/support/operator_feedback_collection_system.md
  docs/support/pilot_customer_selection_criteria.md
Owners: none

feat(deployment): cost optimization, executive dashboard, and production hardening
  docs/runbooks/failover-testing.md
  docs/runbooks/infrastructure_operations.md
  feedback/deployment.md
  scripts/deploy/harden-production.sh
  scripts/monitoring/executive-dashboard.sh
Owners: none

support: add Hot Rodan industry training, VIP handling, product KB, seasonal planning, and community guidelines (tasks 1E-1I)
  docs/support/community_engagement_guidelines.md
  docs/support/high_value_customer_handling.md
  docs/support/hot_rod_industry_training.md
  docs/support/hot_rodan_product_knowledge_base.md
  docs/support/seasonal_support_planning.md
Owners: none

feat(deployment): cost optimization, executive dashboard, and production hardening
  docs/runbooks/failover-testing.md
  docs/runbooks/infrastructure_operations.md
  feedback/deployment.md
  scripts/deploy/harden-production.sh
  scripts/monitoring/executive-dashboard.sh
Owners: none

chore(cleanup): Archive 28 outdated status/completion files
  archive/status-reports-2025-10-14/AI_RESTART_READY.md
  archive/status-reports-2025-10-14/CEO_RESTART_READY.md
  archive/status-reports-2025-10-14/DESIGNER_RESTART_READY.md
  archive/status-reports-2025-10-14/ENGINEER_HELPER_RESTART_CHECKLIST.md
  archive/status-reports-2025-10-14/ENGINEER_HELPER_SESSION_SUMMARY.md
  archive/status-reports-2025-10-14/INTEGRATIONS_RESTART_CHECKLIST.md
  archive/status-reports-2025-10-14/QA_PRE_RESTART_STATUS.md
  archive/status-reports-2025-10-14/RESTART_CHECKPOINT_RELIABILITY.md
  feedback/archive-2025-10-14/AI_COMPREHENSIVE_UPDATE.md
  feedback/archive-2025-10-14/CHATWOOT_MANAGER_UPDATE_2025-10-12.md
  feedback/archive-2025-10-14/INTEGRATIONS_PERFORMANCE_REVIEW_2025-10-12.md
  feedback/archive-2025-10-14/PRODUCT_COMPREHENSIVE_STATUS_2025-10-12.md
  feedback/archive-2025-10-14/compliance_status_comprehensive_2025-10-12.md
  feedback/archive-2025-10-14/data-manager-update-2025-10-11.md
  feedback/archive-2025-10-14/data_to_integrations_coordination.md
  feedback/archive-2025-10-14/data_to_reliability_coordination.md
  feedback/archive-2025-10-14/designer-performance-review.md
  feedback/archive-2025-10-14/enablement_performance_review_2025-10-12.md
  feedback/archive-2025-10-14/engineer-helper-performance-review.md
  feedback/archive-2025-10-14/git-cleanup-manager-report.md
  feedback/archive-2025-10-14/manager-2025-10-11-agentsdk-decision.md
  feedback/archive-2025-10-14/manager-sprint-review-2025-10-11.md
  feedback/archive-2025-10-14/qa-helper-RESTART-READY.md
  feedback/archive-2025-10-14/qa-helper-manager-report.md
  feedback/archive-2025-10-14/qa-helper-manager-update.md
  feedback/archive-2025-10-14/reliability_to_data_coordination.md
  feedback/archive-2025-10-14/reliability_to_engineer_coordination.md
  feedback/git-cleanup.md
Owners: none

docs: Update REPO_STATUS.md with 2025-10-14 cleanup stats
  REPO_STATUS.md
Owners: none

support: add Hot Rodan deep support ops - return/warranty, tech escalation, order mgmt, lifecycle, events, compatibility, B2B, quality, shipping, retention, and metrics (tasks 1J-1T)
  docs/support/bulk_fleet_support.md
  docs/support/community_engagement_guidelines.md
  docs/support/customer_lifecycle_management.md
  docs/support/customer_retention_program.md
  docs/support/high_value_customer_handling.md
  docs/support/hot_rod_event_support.md
  docs/support/hot_rod_industry_training.md
  docs/support/hot_rodan_product_knowledge_base.md
  docs/support/order_modification_rush_orders.md
  docs/support/parts_compatibility_support.md
  docs/support/quality_issue_handling.md
  docs/support/return_warranty_process.md
  docs/support/seasonal_support_planning.md
  docs/support/shipping_logistics_support.md
  docs/support/support_metrics_kpis.md
  docs/support/technical_escalation_matrix.md
Owners: none
