Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manager-team, @dashboard-team, @tooling-team

overnight: add morning brief and deploy-147 evidence
  reports/overnight/2025-10-11/deploy-147/evidence_anchor.json
  reports/overnight/2025-10-11/morning_brief.md
Owners: none

overnight: add morning brief and deploy-147 evidence
  reports/overnight/2025-10-11/deploy-147/evidence_anchor.json
  reports/overnight/2025-10-11/morning_brief.md
Owners: none

docs: update overnight task completion status
  feedback/manager.md
  feedback/qa.md
  reports/overnight/2025-10-11/blockers.md
Owners: @manager-team

docs: update overnight task completion status
  reports/overnight/2025-10-11/blockers.md
Owners: none

docs(feedback): Add data agent shutdown entry [2025-10-11 07:48 UTC]
  feedback/data.md
Owners: none

docs(feedback): Add data agent shutdown entry [2025-10-11 07:48 UTC]
  feedback/data.md
Owners: none

docs(overnight): Add integration blockers report [2025-10-11 07:49 UTC]
  reports/overnight/2025-10-11/blockers.md
Owners: none

docs(overnight): Add integration blockers report [2025-10-11 07:49 UTC]
  reports/overnight/2025-10-11/blockers.md
Owners: none

enablement: Complete 4-module Loom training production (18m 25s)
  feedback/enablement.md
Owners: none

enablement: Complete 4-module Loom training production (18m 25s)
  feedback/enablement.md
  feedback/manager.md
Owners: @manager-team

current repo status
  docs/security/incidents/2025-10-11_sensitive_data_exposure.md
  docs/security/runbooks/vault_prep.md
  scripts/security/cleanup.sh
Owners: @manager-team, @tooling-team

current repo status
  docs/security/incidents/2025-10-11_sensitive_data_exposure.md
  docs/security/runbooks/vault_prep.md
  scripts/security/cleanup.sh
Owners: @manager-team, @tooling-team

Add HotDash code audit report
  reports/code-audit.md
Owners: none

test(qa): comprehensive audit priorities 1-4 with evidence
  feedback/ai.md
Owners: none

test(qa): comprehensive audit priorities 1-4 with evidence
  feedback/ai.md
  feedback/manager.md
  feedback/qa.md
Owners: @manager-team

compliance: Complete comprehensive security audit with critical findings
  docs/mcp/llamaindex-mcp-server-recommendations.md
  docs/runbooks/llamaindex-mcp-monitoring.md
  feedback/compliance.md
  feedback/manager.md
  feedback/marketing.md
  scripts/ai/llama-workflow/eval/data.jsonl
  scripts/ai/llama-workflow/scripts/profile-performance.sh
  scripts/ai/llama-workflow/sql/training-schema.sql
  scripts/ai/llama-workflow/src/pipeline/query.ts
  scripts/ai/llama-workflow/src/training/collector.ts
  scripts/ai/llama-workflow/src/training/schema.ts
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/llama-workflow/src/util/rollback.ts
  scripts/ops/fix_vault_permissions.sh
Owners: @manager-team, @tooling-team

compliance: Complete comprehensive security audit with critical findings
  docs/mcp/llamaindex-mcp-server-recommendations.md
  docs/runbooks/llamaindex-mcp-monitoring.md
  feedback/marketing.md
  scripts/ai/llama-workflow/eval/data.jsonl
  scripts/ai/llama-workflow/scripts/profile-performance.sh
  scripts/ai/llama-workflow/sql/training-schema.sql
  scripts/ai/llama-workflow/src/pipeline/query.ts
  scripts/ai/llama-workflow/src/training/collector.ts
  scripts/ai/llama-workflow/src/training/schema.ts
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/llama-workflow/src/util/rollback.ts
  scripts/ops/fix_vault_permissions.sh
Owners: @manager-team, @tooling-team

feat(chatwoot): agent sdk integration readiness audit complete
  docs/integrations/agent_sdk_integration_plan.md
  docs/integrations/webhook_payload_examples.md
  packages/integrations/chatwoot.ts
  supabase/functions/chatwoot-webhook/README.md
  supabase/functions/chatwoot-webhook/index.ts
Owners: @manager-team, @tooling-team

feat(chatwoot): agent sdk integration readiness audit complete
  docs/integrations/agent_sdk_integration_plan.md
  docs/integrations/conversation_flow_testing.md
  docs/integrations/webhook_payload_examples.md
  feedback/manager.md
  packages/integrations/chatwoot.ts
  supabase/functions/chatwoot-webhook/README.md
  supabase/functions/chatwoot-webhook/index.ts
Owners: @manager-team, @tooling-team

docs(feedback): add chatwoot audit and manager feedback
  feedback/chatwoot.md
  feedback/manager.md
Owners: @manager-team

docs(designer): Complete UI/UX audit and approval queue design
  AI_AGENT_COMPLETION_SUMMARY.md
  feedback/designer.md
Owners: none

docs(designer): Complete UI/UX audit and approval queue design
  AI_AGENT_COMPLETION_SUMMARY.md
  feedback/designer.md
  feedback/manager.md
Owners: @manager-team

feat(chatwoot): hmac verification and api testing complete
  feedback/chatwoot.md
  scripts/ops/test-chatwoot-apis.sh
  scripts/ops/verify-chatwoot-webhook.ts
Owners: @tooling-team

feat(chatwoot): hmac verification and api testing complete
  scripts/ops/test-chatwoot-apis.sh
  scripts/ops/verify-chatwoot-webhook.ts
Owners: @tooling-team

docs(chatwoot): engineer handoff document for webhook deployment
  docs/integrations/engineer-handoff-chatwoot.md
Owners: @manager-team

docs(chatwoot): engineer handoff document for webhook deployment
  docs/integrations/engineer-handoff-chatwoot.md
Owners: @manager-team

test(qa): resolve all P0 test blockers - 100% pass rate achieved
  .env.example
  package.json
  tests/unit/logger.server.spec.ts
  tests/unit/setup.ts
Owners: none

test(qa): resolve all P0 test blockers - 100% pass rate achieved
  .env.example
  feedback/qa.md
  package.json
  tests/unit/logger.server.spec.ts
  tests/unit/setup.ts
Owners: none

docs(designer): Add detailed ApprovalCard specs and edge state designs
  AI_SPRINT_COMPLETE.md
  CODE_REVIEW_llamaindex-mcp-server.md
  docs/design/approval-queue-edge-states.md
  docs/design/approvalcard-component-spec.md
  feedback/designer.md
Owners: @manager-team

docs(designer): Add detailed ApprovalCard specs and edge state designs
  AI_SPRINT_COMPLETE.md
  CODE_REVIEW_llamaindex-mcp-server.md
  docs/design/approval-queue-edge-states.md
  docs/design/approvalcard-component-spec.md
  feedback/designer.md
  feedback/manager.md
Owners: @manager-team

compliance: Complete P0/P1 remediation sprint - All 7 tasks executed
  docs/compliance/evidence/vendor_dpa_status.md
  docs/runbooks/secret-scanning.md
  feedback/compliance.md
Owners: @manager-team

compliance: Complete P0/P1 remediation sprint - All 7 tasks executed
  docs/compliance/evidence/vendor_dpa_status.md
Owners: @manager-team

compliance: Update manager with complete sprint status
  feedback/manager.md
Owners: @manager-team

docs(chatwoot): complete conversation lifecycle flowchart
  docs/integrations/conversation-lifecycle-flowchart.md
Owners: @manager-team

docs(chatwoot): complete conversation lifecycle flowchart
  docs/integrations/conversation-lifecycle-flowchart.md
  feedback/chatwoot.md
Owners: @manager-team

test(qa): agent sdk test strategy and stubs - task 3 complete
  docs/compliance/COMPLIANCE_DASHBOARD.md
  docs/testing/agent-sdk/test-strategy.md
  tests/e2e/approval-queue.spec.ts
  tests/fixtures/agent-sdk-mocks.ts
  tests/integration/agent-sdk-webhook.spec.ts
  tests/security/agent-sdk-security.spec.ts
Owners: @manager-team

test(qa): agent sdk test strategy and stubs - task 3 complete
  docs/compliance/COMPLIANCE_DASHBOARD.md
  docs/testing/agent-sdk/test-strategy.md
  feedback/compliance.md
  feedback/qa.md
  tests/e2e/approval-queue.spec.ts
  tests/fixtures/agent-sdk-mocks.ts
  tests/integration/agent-sdk-webhook.spec.ts
  tests/security/agent-sdk-security.spec.ts
Owners: @manager-team

compliance: Complete ongoing monitoring setup - All tasks ready
  artifacts/llama-index/snapshots/hotrodan.com_2025-10-10T16-05-03Z.html
Owners: none

compliance: Final monitoring setup complete - All 10 tasks done
  COMPLIANCE_ALL_TASKS_COMPLETE.md
Owners: none

compliance: Final monitoring setup complete - All 10 tasks done
  COMPLIANCE_ALL_TASKS_COMPLETE.md
Owners: none

.github/CODEOWNERS:

# Canon (manager only)
docs/directions/**          @manager-team
docs/**                     @manager-team
feedback/manager.md         @manager-team

# App areas (customize teams as you grow)
app/**                      @dashboard-team
packages/**                 @tooling-team

# CI/infra
.github/**                  @tooling-team
scripts/**                  @tooling-team
