Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manager-team, @dashboard-team, @tooling-team

feat(qa): quality validation system - validate all agent task completions
  feedback/qa.md
Owners: none

docs(qa): add validation process document
  scripts/ai/ensemble/model-ensemble.ts
  scripts/ai/knowledge/knowledge-graph.ts
  scripts/ai/prompt-ops/prompt-workflow.ts
  scripts/ai/rag/advanced-rag.ts
Owners: @tooling-team

docs(qa): add validation process document
  scripts/ai/ensemble/model-ensemble.ts
  scripts/ai/knowledge/knowledge-graph.ts
  scripts/ai/prompt-ops/prompt-workflow.ts
  scripts/ai/rag/advanced-rag.ts
Owners: @tooling-team

docs(qa): north star alignment correction - refocus on product testing
  AI_ULTIMATE_COMPLETION_60_TASKS.md
  feedback/ai.md
  feedback/manager.md
  feedback/qa.md
Owners: @manager-team

docs(qa): north star alignment correction - refocus on product testing
  AI_ULTIMATE_COMPLETION_60_TASKS.md
  feedback/ai.md
Owners: none

compliance: North Star drift acknowledged - PAUSED for launch focus
  feedback/compliance.md
Owners: none

compliance: Standing by for launch gates - Drift corrected
  COMPLIANCE_STATUS.md
Owners: none

compliance: Standing by for launch gates - Drift corrected
  COMPLIANCE_STATUS.md
Owners: none

designer: P0 handoff - approval queue UI implementation spec for Engineer (LAUNCH BLOCKER)
  INTEGRATIONS_FINAL_COMPLETE_2025-10-11.md
  LEGENDARY_115_TASKS_COMPLETE.md
  docs/competitive_intelligence_system.md
  docs/design/HANDOFF-approval-queue-ui.md
  docs/directions/EMERGENCY-REFOCUS-2025-10-11.md
  docs/directions/ai.md
  docs/directions/chatwoot.md
  docs/directions/compliance.md
  docs/directions/data.md
  docs/directions/designer.md
  docs/directions/enablement.md
  docs/directions/engineer-LAUNCH-CRITICAL.md
  docs/directions/engineer.md
  docs/directions/integrations.md
  docs/directions/localization.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/qa.md
  docs/directions/reliability.md
  docs/directions/support.md
  docs/enablement/ALL_42_TASKS_COMPLETE.md
  docs/enablement/LAUNCH_PILOT_QUICK_START.md
  docs/investment_prioritization_framework.md
  docs/scenario_planning_modeling.md
  docs/strategic_initiative_management.md
  feedback/data.md
  feedback/designer.md
  feedback/enablement.md
  feedback/integrations.md
  feedback/manager.md
  feedback/marketing.md
  feedback/product.md
  feedback/qa.md
Owners: @manager-team

designer: P0 handoff - approval queue UI implementation spec for Engineer (LAUNCH BLOCKER)
  INTEGRATIONS_FINAL_COMPLETE_2025-10-11.md
  LEGENDARY_115_TASKS_COMPLETE.md
  docs/competitive_intelligence_system.md
  docs/design/HANDOFF-approval-queue-ui.md
  docs/directions/EMERGENCY-REFOCUS-2025-10-11.md
  docs/directions/ai.md
  docs/directions/chatwoot.md
  docs/directions/data.md
  docs/directions/designer.md
  docs/directions/enablement.md
  docs/directions/engineer-LAUNCH-CRITICAL.md
  docs/directions/engineer.md
  docs/directions/integrations.md
  docs/directions/localization.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/qa.md
  docs/directions/reliability.md
  docs/directions/support.md
  docs/enablement/ALL_42_TASKS_COMPLETE.md
  docs/enablement/LAUNCH_PILOT_QUICK_START.md
  docs/investment_prioritization_framework.md
  docs/scenario_planning_modeling.md
  docs/strategic_initiative_management.md
  feedback/data.md
  feedback/designer.md
  feedback/enablement.md
  feedback/integrations.md
  feedback/marketing.md
  feedback/product.md
Owners: @manager-team

test(qa): p0 launch testing - north star refocus complete
  feedback/qa.md
Owners: none

compliance: RESUMED - Ready for launch support mode
  feedback/ai.md
  feedback/compliance.md
  feedback/engineer.md
  feedback/manager.md
Owners: @manager-team

compliance: RESUMED - Ready for launch support mode
  feedback/ai.md
  feedback/engineer.md
Owners: none

test(qa): complete preparation tasks 1A-1D - ready to test launch features
  feedback/qa.md
Owners: none

docs(chatwoot): acknowledge north star drift and blocker clearance
  feedback/chatwoot.md
Owners: none

docs(chatwoot): webhook endpoint investigation - code exists, needs deployment
  feedback/chatwoot.md
Owners: none

docs(chatwoot): task 2 deployment blocker - comprehensive evidence report
  docs/integrations/TASK_2_DEPLOYMENT_BLOCKER.md
Owners: @manager-team

docs(chatwoot): task 2 deployment blocker - comprehensive evidence report
  docs/integrations/TASK_2_DEPLOYMENT_BLOCKER.md
Owners: @manager-team

designer: MINIMAL approval UI assets for TODAY launch - text buttons, Polaris defaults, ~30 line component
  .reliability-checkpoint-20251012
  REFOCUSED_ON_OPERATORS.md
  docs/design/MINIMAL-approval-ui-assets-TODAY.md
  docs/directions/ai.md
  docs/directions/engineer.md
  docs/enablement/PILOT_LAUNCH_READY.md
  docs/enablement/pilot_operator_onboarding_checklist.md
  docs/enablement/pilot_training_assessment.md
  docs/escalation_approval_workflow.md
  docs/knowledge_base_pilot_preparation.md
  docs/operator_troubleshooting_playbook.md
  docs/ops/HUMAN-APPROVAL-REQUIRED.md
  docs/ops/SHOPIFY-AUTH-PATTERN.md
  docs/pilot_feedback_collection_template.md
  feedback/data.md
  feedback/designer.md
  feedback/enablement.md
  feedback/integrations.md
  feedback/manager.md
  feedback/marketing.md
  feedback/product.md
  feedback/qa.md
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/2025-10-12T0315/index.json
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/2025-10-12T0315/manifest.json
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/latest
Owners: @manager-team, @tooling-team

designer: MINIMAL approval UI assets for TODAY launch - text buttons, Polaris defaults, ~30 line component
  .reliability-checkpoint-20251012
  REFOCUSED_ON_OPERATORS.md
  docs/design/MINIMAL-approval-ui-assets-TODAY.md
  docs/directions/ai.md
  docs/directions/engineer.md
  docs/enablement/PILOT_LAUNCH_READY.md
  docs/enablement/pilot_operator_onboarding_checklist.md
  docs/enablement/pilot_training_assessment.md
  docs/escalation_approval_workflow.md
  docs/knowledge_base_pilot_preparation.md
  docs/operator_troubleshooting_playbook.md
  docs/ops/HUMAN-APPROVAL-REQUIRED.md
  docs/ops/SHOPIFY-AUTH-PATTERN.md
  docs/pilot_feedback_collection_template.md
  feedback/data.md
  feedback/designer.md
  feedback/enablement.md
  feedback/integrations.md
  feedback/marketing.md
  feedback/product.md
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/2025-10-12T0315/index.json
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/2025-10-12T0315/manifest.json
  scripts/ai/llama-workflow/packages/memory/logs/build/indexes/latest
Owners: @manager-team, @tooling-team

test(qa): task 1 complete - llamaindex mcp testing found 2 P0 blockers
  feedback/qa.md
Owners: none

compliance: Daily monitoring 2025-10-12 - All systems operational
  feedback/compliance.md
Owners: none

compliance: ACTIVE monitoring mode - Supporting launch completion
  COMPLIANCE_ACTIVE_STATUS.md
Owners: none

compliance: ACTIVE monitoring mode - Supporting launch completion
  COMPLIANCE_ACTIVE_STATUS.md
Owners: none

test(qa): task 0 complete - verified engineer claims using MCPs
  feedback/ai.md
  feedback/manager.md
  feedback/qa.md
  scripts/ai/llama-workflow/build-index-now.ts
  scripts/ai/llama-workflow/build-simple-index.ts
  scripts/ai/llama-workflow/src/cli.ts
  scripts/ai/llama-workflow/src/loaders/sitemap.ts
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/llama-workflow/test-crawl.ts
  scripts/ai/llama-workflow/test-query.ts
Owners: @manager-team, @tooling-team

test(qa): task 0 complete - verified engineer claims using MCPs
  feedback/ai.md
  scripts/ai/llama-workflow/build-index-now.ts
  scripts/ai/llama-workflow/build-simple-index.ts
  scripts/ai/llama-workflow/src/cli.ts
  scripts/ai/llama-workflow/src/loaders/sitemap.ts
  scripts/ai/llama-workflow/src/util/metrics.ts
  scripts/ai/llama-workflow/test-crawl.ts
  scripts/ai/llama-workflow/test-query.ts
Owners: @tooling-team

compliance: Tasks BZ-A & BZ-B complete - Launch security + privacy
  docs/compliance/data_privacy_compliance_hot_rodan_2025-10-12.md
  docs/compliance/launch_security_monitoring_2025-10-12.md
Owners: @manager-team

compliance: Tasks BZ-A & BZ-B complete - Launch security + privacy
  docs/compliance/data_privacy_compliance_hot_rodan_2025-10-12.md
  docs/compliance/launch_security_monitoring_2025-10-12.md
  feedback/compliance.md
Owners: @manager-team

compliance: Task BZ-C complete - API Security Hardening
  docs/compliance/api_security_hardening_2025-10-12.md
Owners: @manager-team

compliance: Task BZ-C complete - API Security Hardening
  docs/compliance/api_security_hardening_2025-10-12.md
  feedback/compliance.md
Owners: @manager-team

compliance: Task BZ-D complete - Incident Response Playbook
  data/support/common-questions-faq.md
  data/support/exchange-process.md
  data/support/order-tracking.md
  docs/runbooks/incident_response_security.md
  feedback/ai.md
  feedback/compliance.md
  feedback/support.md
Owners: @manager-team

compliance: Task BZ-D complete - Incident Response Playbook
  data/support/common-questions-faq.md
  data/support/exchange-process.md
  data/support/order-tracking.md
  docs/runbooks/incident_response_security.md
  feedback/ai.md
  feedback/support.md
Owners: @manager-team

compliance: ALL 5 BZ TASKS COMPLETE - Final summary
  feedback/manager.md
Owners: @manager-team

docs(cleanup): complete git cleanup report with comprehensive audit
  feedback/git-cleanup.md
Owners: none

test(qa): tasks 1E-1J complete - all launch-aligned testing assessed
  feedback/qa.md
Owners: none

designer: Task 1J complete - Tile-specific UI refinement for 5 dashboard tiles with data viz
  docs/design/tile-specific-ui-refinement.md
  docs/directions/engineer-helper.md
  docs/directions/git-cleanup.md
  docs/directions/product.md
  feedback/ai.md
  feedback/compliance.md
  feedback/designer.md
  feedback/integrations.md
  feedback/manager.md
  feedback/qa-helper.md
  scripts/ai/llama-workflow/enhance-product-catalog.ts
  scripts/ai/llama-workflow/packages/memory/logs/build/product-catalog/catalog-summary.json
  scripts/ai/llama-workflow/packages/memory/logs/build/product-catalog/enhanced-product-catalog.json
  scripts/ai/llama-workflow/packages/memory/logs/build/product-catalog/product-qa-knowledge.md
Owners: @manager-team, @tooling-team

designer: ALL NEW WAVE TASKS COMPLETE (1J-1S) - Tiles, personalization, notifications, viz, dark mode, history, illustrations, tables, docs
  .reliability-all-tasks-complete
  docs/compliance/hot_rodan_customer_data_privacy_2025-10-12.md
  docs/design/dashboard-features-1K-1P.md
  docs/design/final-launch-features-1Q-1S.md
  feedback/ai.md
  feedback/compliance.md
  feedback/designer.md
  feedback/manager.md
  feedback/qa-helper-manager-report.md
  scripts/ai/llama-workflow/test-product-qa.ts
Owners: @manager-team, @tooling-team

.github/CODEOWNERS:

# Canon (manager only)
docs/directions/**          @manager-team
docs/**                     @manager-team
feedback/manager.md         @manager-team

# App areas (customize teams as you grow)
app/**                      @dashboard-team
packages/**                 @tooling-team

# CI/infra
.github/**                  @tooling-team
scripts/**                  @tooling-team
