Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @manager-team, @dashboard-team, @tooling-team

designer: logged manager feedback submission completion in designer activity log
  feedback/designer.md
Owners: none

designer: logged manager feedback submission completion in designer activity log
  feedback/designer.md
Owners: none

docs(feedback): complete Product Agent manager feedback per governance
  feedback/manager.md
Owners: @manager-team

reliability: Task 1 evidence (Supabase readiness)
  feedback/reliability.md
  scripts/reliability-logger.sh
Owners: @tooling-team

reliability: Task 1 evidence (Supabase readiness)
  scripts/reliability-logger.sh
Owners: @tooling-team

chore(security): add secret/stack guards, sanitize leaked artifacts, deprecate embed-token docs, align RR7+CLI v3 across directions
  .github/gitleaks.toml
  .github/workflows/feedback_guard.yml
  .github/workflows/secret_scan.yml
  .github/workflows/stack_guard.yml
  .gitignore
  docs/directions/chatwoot.md
  docs/directions/data.md
  docs/directions/deployment.md
  docs/directions/enablement.md
  docs/directions/engineer.md
  docs/directions/integrations.md
  docs/directions/localization.md
  docs/directions/manager.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/qa.md
  docs/directions/reliability.md
  docs/policies/feedback_controls.md
  docs/runbooks/shopify_embed_capture.md
  feedback/ai.md
  feedback/deployment.md
  feedback/integrations.md
  feedback/localization.md
  scripts/ai/llama-workflow/package.json
  scripts/ai/llama-workflow/src/config.ts
  scripts/ai/llama-workflow/src/loaders/curated.ts
  scripts/ai/llama-workflow/src/loaders/sitemap.ts
  scripts/ai/llama-workflow/src/loaders/supabase.ts
  scripts/ai/llama-workflow/tsconfig.json
  scripts/ci/check-feedback-guard.mjs
  scripts/ci/stack-guard.mjs
Owners: @tooling-team, @manager-team

chore(security): add secret/stack guards, sanitize leaked artifacts, deprecate embed-token docs, align RR7+CLI v3 across directions
  .github/gitleaks.toml
  .github/workflows/feedback_guard.yml
  .github/workflows/secret_scan.yml
  .github/workflows/stack_guard.yml
  .gitignore
  docs/directions/chatwoot.md
  docs/directions/data.md
  docs/directions/deployment.md
  docs/directions/enablement.md
  docs/directions/engineer.md
  docs/directions/integrations.md
  docs/directions/localization.md
  docs/directions/manager.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/qa.md
  docs/directions/reliability.md
  docs/policies/feedback_controls.md
  docs/runbooks/shopify_embed_capture.md
  feedback/ai.md
  feedback/chatwoot.md
  feedback/deployment.md
  feedback/integrations.md
  feedback/localization.md
  scripts/ai/llama-workflow/package.json
  scripts/ai/llama-workflow/src/config.ts
  scripts/ai/llama-workflow/src/loaders/curated.ts
  scripts/ai/llama-workflow/src/loaders/sitemap.ts
  scripts/ai/llama-workflow/src/loaders/supabase.ts
  scripts/ai/llama-workflow/tsconfig.json
  scripts/ci/check-feedback-guard.mjs
  scripts/ci/stack-guard.mjs
Owners: @tooling-team, @manager-team

chore(security): ignore all .env.* files
  .gitignore
Owners: none

chore(security): ignore all .env.* files
  .gitignore
Owners: none

docs(runbook): deprecate embed token capture per RR7 + CLI v3 flow
  docs/runbooks/shopify_embed_capture.md
Owners: @manager-team

docs(runbook): deprecate embed token capture per RR7 + CLI v3 flow
  docs/runbooks/shopify_embed_capture.md
Owners: @manager-team

chore(fly): bump Chatwoot memory to 1GB (staging OOM mitigation)
  deploy/chatwoot/fly.toml
Owners: none

chore(fly): bump Chatwoot memory to 1GB (staging OOM mitigation)
  deploy/chatwoot/fly.toml
Owners: none

feat(db): add support_curated_replies with RLS and indexes
  supabase/migrations/20251011_chatwoot_gold_replies.sql
Owners: none

feat(db): add support_curated_replies with RLS and indexes
  supabase/migrations/20251011_chatwoot_gold_replies.sql
Owners: none

reliability: Task 3 evidence (?mock=0 latency - scaled resources, improvement noted)
  feedback/reliability.md
Owners: none

reliability: Task 4 evidence (Chatwoot Fly smoke + credentials validated)
  feedback/reliability.md
Owners: none

reliability: Task 5 evidence (Supabase DB + RLS verification)
  feedback/reliability.md
Owners: none

docs(runbook): Week 3 backup/restore updates
  docs/runbooks/backup-restore-week3.md
Owners: @manager-team

reliability: update manager feedback with sprint completion status
  feedback/manager.md
Owners: @manager-team

product: Complete DEPLOY-147 evidence collection with 100% validation
  feedback/product.md
Owners: none

product: Complete DEPLOY-147 evidence collection with 100% validation
  feedback/product.md
Owners: none

designer: aligned task list execution complete - all 5 tasks delivered with export presets and compliance framework
  feedback/designer.md
Owners: none

designer: aligned task list execution complete - all 5 tasks delivered with export presets and compliance framework
  feedback/designer.md
Owners: none

designer: engineering handoff preparation with implementation tickets and acceptance criteria
  docs/design/modal-refresh-handoff.md
  feedback/designer.md
Owners: @manager-team

designer: engineering handoff preparation with implementation tickets and acceptance criteria
  docs/design/modal-refresh-handoff.md
  feedback/designer.md
Owners: @manager-team

designer: collateral support completion - marketing materials and stack compliance audit framework
  docs/collateral/modal-refresh-marketing.md
  docs/compliance/stack-audit-framework.md
  feedback/designer.md
Owners: @manager-team

designer: collateral support completion - marketing materials and stack compliance audit framework
  docs/collateral/modal-refresh-marketing.md
  docs/compliance/stack-audit-framework.md
  feedback/designer.md
Owners: @manager-team

product: Complete sprint coordination infrastructure frameworks
  docs/ops/automation_reminders_framework.md
  docs/ops/evidence_bundling_specification.md
  docs/ops/linear_workspace_implementation.md
  docs/ops/release_review_gates_framework.md
  docs/ops/risk_management_framework.md
  feedback/product.md
Owners: @manager-team

product: Complete sprint coordination infrastructure frameworks
  docs/ops/automation_reminders_framework.md
  docs/ops/evidence_bundling_specification.md
  docs/ops/linear_workspace_implementation.md
  docs/ops/release_review_gates_framework.md
  docs/ops/risk_management_framework.md
  feedback/product.md
Owners: @manager-team

chore(compliance): init sprint scaffolding and CI guardrails audit artifacts
  artifacts/compliance/commit_template.txt
  artifacts/compliance/scans/workflows_list.txt
  artifacts/compliance/scripts/allowed_paths_guard.sh
  artifacts/compliance/scripts/log.sh
  artifacts/compliance/stack_audit_2025-10-11.json
  artifacts/compliance/stack_audit_2025-10-11.md
  artifacts/compliance/warp_rules_snapshot.txt
  feedback/compliance.md
Owners: none

chore(compliance): init sprint scaffolding and CI guardrails audit artifacts
  artifacts/compliance/commit_template.txt
  artifacts/compliance/scans/workflows_list.txt
  artifacts/compliance/scripts/allowed_paths_guard.sh
  artifacts/compliance/scripts/log.sh
  artifacts/compliance/stack_audit_2025-10-11.json
  artifacts/compliance/stack_audit_2025-10-11.md
  artifacts/compliance/warp_rules_snapshot.txt
Owners: none

product: Execute manager priority areas - blocker triage and operational readiness
  feedback/product.md
Owners: none

product: Execute manager priority areas - blocker triage and operational readiness
  feedback/product.md
Owners: none

chore(compliance): secret incidents sweep (summary + targeted scan log)
  artifacts/compliance/scans/secret_sweep_2025-10-11.txt
  docs/compliance/evidence/secret_incidents_2025-10-11.json
  docs/compliance/evidence/secret_incidents_2025-10-11.md
Owners: @manager-team

chore(compliance): secret incidents sweep (summary + targeted scan log)
  artifacts/compliance/scans/secret_sweep_2025-10-11.txt
  docs/compliance/evidence/secret_incidents_2025-10-11.json
  docs/compliance/evidence/secret_incidents_2025-10-11.md
  feedback/compliance.md
Owners: @manager-team

chore(compliance): vendor DPA status update and dated follow-ups (drafts)
  docs/compliance/evidence/vendor_dpa_status.md
  docs/compliance/evidence/vendor_escalation_template.md
  docs/compliance/evidence/vendor_followups_2025-10-11_ga_mcp.md
  docs/compliance/evidence/vendor_followups_2025-10-11_openai.md
  docs/compliance/evidence/vendor_followups_2025-10-11_supabase.md
  feedback/compliance.md
Owners: @manager-team

chore(compliance): vendor DPA status update and dated follow-ups (drafts)
  docs/compliance/evidence/vendor_dpa_status.md
  docs/compliance/evidence/vendor_escalation_template.md
  docs/compliance/evidence/vendor_followups_2025-10-11_ga_mcp.md
  docs/compliance/evidence/vendor_followups_2025-10-11_openai.md
  docs/compliance/evidence/vendor_followups_2025-10-11_supabase.md
Owners: @manager-team

designer: enhanced Polaris wireframes, responsive breakpoints, Figma variables export, and comprehensive copy decks
  docs/compliance/evidence/pg_cron_hash_register_2025-10-11.json
  docs/compliance/evidence/pg_cron_hash_register_2025-10-11.md
  docs/design/copy-decks.md
  docs/design/figma-variables-export.md
  docs/design/wireframes/polaris-dashboard-wireframes.md
  feedback/designer.md
Owners: @manager-team

designer: enhanced Polaris wireframes, responsive breakpoints, Figma variables export, and comprehensive copy decks
  docs/compliance/evidence/pg_cron_hash_register_2025-10-11.json
  docs/compliance/evidence/pg_cron_hash_register_2025-10-11.md
  docs/design/copy-decks.md
  docs/design/figma-variables-export.md
  docs/design/wireframes/polaris-dashboard-wireframes.md
  feedback/compliance.md
  feedback/designer.md
Owners: @manager-team

.github/CODEOWNERS:

# Canon (manager only)
docs/directions/**          @manager-team
docs/**                     @manager-team
feedback/manager.md         @manager-team

# App areas (customize teams as you grow)
app/**                      @dashboard-team
packages/**                 @tooling-team

# CI/infra
.github/**                  @tooling-team
scripts/**                  @tooling-team
