Repository Jgorzitza/HotDash, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jgorzitza, @engineer, @qa, @data

.github/CODEOWNERS:

# CODEOWNERS - Protect Critical Files from Deletion/Modification
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ===================================================================
# CRITICAL PROCESS DOCUMENTS (Manager/CEO only)
# ===================================================================

# Core mission and direction
/docs/NORTH_STAR.md                                     @Jgorzitza
/README.md                                               @Jgorzitza
/docs/git_protocol.md                                    @Jgorzitza
/docs/directions/README.md                              @Jgorzitza

# Agent startup/shutdown procedures
/docs/runbooks/agent_startup_checklist.md               @Jgorzitza
/docs/runbooks/agent_shutdown_checklist.md              @Jgorzitza
/docs/runbooks/agent_launch_checklist.md                @Jgorzitza

# Manager procedures
/docs/runbooks/manager_startup_checklist.md             @Jgorzitza
/docs/runbooks/manager_shutdown_checklist.md            @Jgorzitza
/docs/runbooks/manager_priority_matrix.md               @Jgorzitza
/docs/directions/manager.md                             @Jgorzitza
/docs/directions/manager_standup_template.md            @Jgorzitza

# Process controls
/docs/policies/feedback_controls.md                     @Jgorzitza
/docs/policies/agentfeedbackprocess.md                  @Jgorzitza
/docs/ops/credential_index.md                           @Jgorzitza

# Agent direction files (Manager only can edit)
/docs/directions/*.md                                    @Jgorzitza

# ===================================================================
# EXCEPTIONS (Can be modified by specific agents)
# ===================================================================

# Agents can edit their OWN feedback file only
/feedback/engineer.md                                    @engineer
/feedback/qa.md                                          @qa
/feedback/data.md                                        @data
# (etc - one line per agent if needed, or just enforce via process)

# ===================================================================
# NOTES
# ===================================================================
# 
# This protects critical documents from:
# - Accidental deletion
# - Unauthorized edits
# - Agent confusion (editing wrong files)
#
# To modify protected files:
# - Create PR
# - Tag @Jgorzitza for approval
# - Requires CEO/Manager approval to merge
#
# ===================================================================

feat(manager): CEO update system with performance rankings and prizes
  artifacts/manager/CEO_UPDATES.md
  docs/runbooks/manager_ceo_update_format.md
  docs/runbooks/manager_shutdown_checklist.md
Owners: @Jgorzitza

feat(manager): direction snapshots before cleanup - audit trail
  artifacts/manager/direction-snapshots/2025-10-12-1238/ACCELERATED-DELIVERY-2025-10-11.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/EMERGENCY-REFOCUS-2025-10-11.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/MANAGER-GUARDRAILS.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/README.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/URGENT-CHATWOOT-DSN-2025-10-11.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/URGENT-SHOPIFY-FIXES-2025-10-11.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/WARP.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/ai.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/chatwoot.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/compliance.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/context7-mcp-setup.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/data.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/deployment.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/designer.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/enablement.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/engineer-LAUNCH-CRITICAL.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/engineer-helper.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/engineer-sprint-llamaindex-agentsdk.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/engineer.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/git-cleanup.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/integrations.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/localization.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/manager.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/manager_standup_template.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/marketing-HOT-RODAN-ALIGNED.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/marketing.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/mcp-tools-reference.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/mcp-usage-efficiency.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/product.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/product_changelog.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/product_metrics.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/product_operating_plan.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/qa-helper.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/qa.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/reliability.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/support.md
  artifacts/manager/direction-snapshots/2025-10-12-1238/training-data-reliability-check.md
Owners: none

feat(manager): CRITICAL - Clean engineer.md direction file
  artifacts/engineer/task-archive-2025-10-12.md
  docs/directions/engineer.md
Owners: @Jgorzitza

feat(manager): shutdown complete - performance review and CEO update
  artifacts/manager/CEO_UPDATES.md
Owners: none

fix(manager): cleanup violations missed in shutdown - 13 files
  AI_RESTART_READY.md
  CEO_RESTART_READY.md
  DEPLOYMENT_COMPLETE.md
  DEPLOYMENT_SUMMARY_2025-10-12.md
  DESIGNER_HOT_ROD_REVIEW_SUMMARY.md
  DESIGNER_RESTART_READY.md
  ENGINEER_HELPER_RESTART_CHECKLIST.md
  ENGINEER_HELPER_SESSION_SUMMARY.md
  INTEGRATIONS_RESTART_CHECKLIST.md
  QA_PRE_RESTART_STATUS.md
  REPO_STATUS.md
  RESTART_CHECKPOINT_RELIABILITY.md
  SECURITY.md
  docs/directions/engineer.md.NEW
Owners: none

feat(manager): complete shutdown execution - all 18 agents updated
  docs/directions/ACCELERATED-DELIVERY-2025-10-11.md
  docs/directions/ai.md
  docs/directions/chatwoot.md
  docs/directions/data.md
  docs/directions/deployment.md
  docs/directions/designer.md
  docs/directions/enablement.md
  docs/directions/engineer-helper.md
  docs/directions/engineer-sprint-llamaindex-agentsdk.md
  docs/directions/git-cleanup.md
  docs/directions/integrations.md
  docs/directions/localization.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/qa-helper.md
  docs/directions/qa.md
  docs/directions/reliability.md
  docs/directions/support.md
Owners: @Jgorzitza

docs(manager): add comprehensive CEO update for Oct 13 shutdown
  artifacts/manager/CEO_UPDATES.md
Owners: none

feat(manager): implement core lessons in permanent documentation
  docs/runbooks/MANAGER_RECOMMENDATIONS.md
  docs/runbooks/manager_shutdown_checklist.md
  docs/runbooks/manager_startup_checklist.md
Owners: @Jgorzitza

fix(manager): correct agent startup instructions in CEO update
  artifacts/manager/CEO_UPDATES.md
Owners: none

docs: add comprehensive launch prompts reference
  docs/runbooks/LAUNCH_PROMPTS.md
Owners: none

localization: Improve error message consistency with Hot Rod AN automotive voice
  app/components/ApprovalCard.tsx
  app/components/ErrorBoundary.tsx
  app/components/tiles/TileCard.tsx
Owners: none

localization: Add Agent Response Copy Guidelines
  .github/pull_request_template.md
  docs/design/agent-response-copy-guidelines.md
Owners: none

localization: Improve Approval Queue UI copy consistency
  app/routes/approvals/route.tsx
Owners: none

localization: Add technical terms glossary
  docs/GLOSSARY.md
Owners: none

Add October code quality assessment report
  reports/reliability/2025-10-13-code-quality-audit.md
Owners: none

Add downloadable HotRodan sales improvement analysis
  reports/hotrodan_sales_improvements.txt
Owners: none

fix(db): correct PostgreSQL view syntax in agent_metrics migration
  supabase/migrations/20251011070600_agent_metrics.sql
Owners: none

fix(mcp): install llama-workflow dependencies in Docker container
  apps/llamaindex-mcp-server/Dockerfile
  archive/git-history-cleanup/.git-filter-repo-replacements.txt
  archive/status-reports-2025-10/AI_RESTART_READY.md
  archive/status-reports-2025-10/CEO_RESTART_READY.md
  archive/status-reports-2025-10/DESIGNER_RESTART_READY.md
  archive/status-reports-2025-10/ENGINEER_HELPER_RESTART_CHECKLIST.md
  archive/status-reports-2025-10/ENGINEER_HELPER_SESSION_SUMMARY.md
  archive/status-reports-2025-10/INTEGRATIONS_RESTART_CHECKLIST.md
  archive/status-reports-2025-10/MANAGER_SUMMARY.txt
  archive/status-reports-2025-10/QA_PRE_RESTART_STATUS.md
  archive/status-reports-2025-10/RESTART_CHECKPOINT_RELIABILITY.md
Owners: none

localization: Add Growth Machine Content Quality Framework
  docs/design/growth-machine-content-quality-framework.md
Owners: none

localization: Add Phase 2 Advanced Content Framework for Growth Machine
  docs/design/growth-machine-advanced-content-framework.md
Owners: none

localization: Add Agent SDK Localization Framework (Task 7)
  docs/design/agent-sdk-localization-framework.md
Owners: none

localization: Add Terminology & Style Guide (Task 8)
  docs/design/terminology-style-guide.md
Owners: none

manager: Add startup checklist and priority update after system reboot
  docs/directions/MANAGER_PRIORITY_UPDATE_2025-10-13.md
  docs/runbooks/manager_startup_checklist.md
Owners: @Jgorzitza

manager: Assign backlog work to AI and Git Cleanup agents
  feedback/ai.md
  feedback/git-cleanup.md
Owners: none

manager: Coordinate 8 idle agents with new priority assignments
  docs/directions/AGENT_STATUS_ANALYSIS_2025-10-13T22-40.md
  docs/directions/data.md
  docs/directions/enablement.md
  docs/directions/engineer-helper.md
  docs/directions/engineer.md
  docs/directions/qa-helper.md
  docs/directions/qa.md
  docs/directions/reliability.md
Owners: @Jgorzitza

manager: Complete startup checklist execution - session final
  app/routes/api.analytics.sales-trend.tsx
  app/routes/api.analytics.summary.tsx
  app/services/analytics.server.ts
  app/services/auth.server.ts
  docs/enablement/ceo_training_checklist.md
  docs/product/agent_sdk_feature_iteration_roadmap_v2.md
  docs/product/agent_sdk_pilot_rollout_plan.md
  docs/runbooks/LOCALIZATION_EXECUTION_SUMMARY_2025-10-13.md
  feedback/enablement.md
  feedback/product.md
  tests/playwright/admin-embed.spec.ts
Owners: none

security: Add gitleaksignore and document GitGuardian false positive
  .gitleaksignore
  docs/runbooks/SECURITY_INCIDENT_2025-10-13-SMTP.md
Owners: none

manager: Execute startup checklist after system reboot - all services healthy, 2 P0 blockers identified
  docs/runbooks/MANAGER_STARTUP_COMPLETE_2025-10-14T02-29.md
Owners: none

manager: Add immediate action items from startup recovery - 2 P0 blockers and P1 priorities
  docs/runbooks/IMMEDIATE_ACTION_ITEMS_2025-10-14.md
Owners: none

manager: Implement self-tasking protocol for all agents (CEO directive)
  docs/directions/URGENT_SELF_TASKING_PROTOCOL_2025-10-13.md
Owners: @Jgorzitza

manager: Add executive summary for quick status reference
  MANAGER_STATUS_2025-10-14.txt
Owners: none

manager: Complete direction file updates for ALL idle agents
  docs/directions/chatwoot.md
  docs/directions/deployment.md
  docs/directions/designer.md
  docs/directions/git-cleanup.md
  docs/directions/localization.md
  docs/directions/marketing.md
  docs/directions/product.md
  docs/directions/support.md
Owners: @Jgorzitza

manager: Fix Chatwoot admin email docs + archive bloated feedback (CEO directives)
  archive/2025-10-13-feedback-archival/designer-FULL-ARCHIVE.md
  archive/2025-10-13-feedback-archival/engineer-FULL-ARCHIVE.md
  archive/2025-10-13-feedback-archival/marketing-FULL-ARCHIVE.md
  archive/2025-10-13-feedback-archival/product-FULL-ARCHIVE.md
  docs/integrations/chatwoot-admin-configuration-guide.md
  feedback/designer.md
  feedback/engineer.md
  feedback/marketing.md
  feedback/product.md
Owners: @engineer

manager: Assign Chatwoot admin user recreation to Deployment agent (P0-URGENT)
  docs/directions/deployment.md
  feedback/deployment.md
Owners: @Jgorzitza

chore(feedback): Agent progress updates across 8 feedback files
  feedback/data.md
  feedback/deployment.md
  feedback/enablement.md
  feedback/product.md
Owners: @data

feat(api): Add comprehensive API endpoints for monitoring and Chatwoot
  app/routes/api.apm.metrics.tsx
  app/routes/api.queries.analyze.tsx
Owners: none

feat(monitoring): Add APM and performance monitoring utilities
  app/utils/apm.server.ts
  app/utils/profiler.server.ts
  app/utils/query-optimizer.server.ts
Owners: none

docs(chatwoot): Add comprehensive Chatwoot configuration documentation
  docs/chatwoot/canned-responses.json
Owners: none

docs(enablement,product): Add operator training and Week 2 roadmap
  docs/enablement/operator_onboarding_checklist_comprehensive.md
  docs/product/customer_feedback_analysis_hot_rodan.md
  docs/product/week_2_iteration_roadmap.md
Owners: none

feat(chatwoot): Add canned responses import script
  scripts/chatwoot/assign-conversations.ts
  scripts/chatwoot/import-canned-responses.ts
Owners: none
